# fly.toml app configuration file generated for mini-saas-template on 2025-12-01T14:55:50+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mini-saas-template'
primary_region = 'ams'

[build]
  builder = 'nixpacks'

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'get'
    path = '/'

[[vm]]
  size = 'shared-cpu-1x'
